In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import csv

URL = "https://en.wikipedia.org/wiki/List_of_countries_by_number_of_Internet_users"
page = requests.get(URL)

soup = BeautifulSoup(page.content, "html.parser")
#print(soup)

In [63]:
paesi = []
popolazione = []
percentuale = []

tabella = soup.find("table",class_="sortable")
righe_tabella = tabella.find_all("tr")
for row in righe_tabella[1:]:
    celle = row.find_all("td")
    paesi.append(celle[0].text.strip())
    popolazione.append(celle[3].text.strip())
    percentuale.append(celle[4].text.strip('%'))

percentuale = [x.replace(',','.') for x in percentuale]
popolazione = [x.replace(',','') for x in popolazione]
for p in popolazione: 
    if p != '':
        p = int(p)
for p in percentuale: 
    if p != '':
        p = float(p)

dati = {"popolazione": popolazione, "percentuale":percentuale}
dataset = pd.DataFrame(dati, index=paesi)

dataset.to_csv('users_by_country_2021.csv')

In [64]:
dataset

                                             popolazione percentuale
China                                         1010740000        70.8
India                                          833710000        61.6
United States                                  312320000        95.5
Indonesia                                      212354070        79.3
Brazil                                         160010801        76.4
...                                                  ...         ...
Saint Helena, Ascension and Tristan da Cunha        2906        48.2
Falkland Islands                                    2881        89.1
Montserrat                                          2833        56.7
Wallis and Futuna                                   1383        11.9
Niue                                                1034        63.8

[214 rows x 2 columns]